<div class="main">
  <form action="http://localhost:8080/api/red" method="GET">
    <label for="weight">Peso</label>
    <input type="number" name="weight" id="weight" />

    <label for="width">Ancho</label>
    <input type="number" name="width" id="width" />

    <label for="height">Alto</label>
    <input type="number" name="height" id="height" />

    <label for="length">Largo</label>
    <input type="number" name="length" id="length" />

    <label for="country_origin">Pais de origen</label>
    <select name="" id="country_origin">
      <option *ngFor="let country of countries" value="{{ country.country }}">
        {{ country.country }}
      </option>
    </select>

    <label for="country_destination">Pais de destino</label>
    <select name="" id="country_destination">
      <option *ngFor="let country of countries" value="{{ country.country }}">
        {{ country.country }}
      </option>
    </select>

    <label for="country_region">Región pais destino</label>
    <select name="" id="country_region">
      <option *ngFor="let region of regions" value="{{ region.region }}">
        {{ region.region }}
      </option>
    </select>

    <button type="submit">Enviar</button>
  </form>
</div>
