<div class="main">
  <form action="" method="get" class="form">
    <h3>Información de envío</h3>

    <div class="shipment-container">
      <div>
        <!-- Peso -->
        <div class="form-group">
          <label for="name"><span>*</span> Peso en <b>lb</b></label>
          <input required type="number" class="form-control" id="peso" />
        </div>

        <!-- Ancho -->
        <div class="form-group">
          <label for="name"><span>*</span> Ancho en <b>cm</b></label>
          <input required type="number" class="form-control" id="ancho" />
        </div>
      </div>

      <div>
        <!-- Alto -->
        <div class="form-group">
          <label for="name"><span>*</span> Alto en <b>cm</b></label>
          <input required type="number" class="form-control" id="alto" />
        </div>

        <!-- Largo -->
        <div class="form-group">
          <label for="name"><span>*</span> Largo en <b>cm</b></label>
          <input required type="number" class="form-control" id="largo" />
        </div>
      </div>
    </div>

    <!-- Información de destino -->
    <h3>Información de destino</h3>

    <div class="destination-container">
      <!-- País de destino -->
      <div class="form-group">
        <label for="name"><span>*</span> País</label>
        <select name="" id="">
          <option
            *ngFor="let country of countries"
            value="{{ country.country }}"
            aria-required="true"
          >
            {{ country.country }}
          </option>
        </select>
      </div>

      <!-- Región -->
      <div class="form-group">
        <label for="name"><span>*</span> Región</label>
        <select name="" id="">
          <option
            *ngFor="let region of regions"
            value="{{ region.region }}"
            aria-required="true"
          >
            {{ region.region }}
          </option>
        </select>
      </div>
    </div>

    <!-- Button -->
    <button type="submit" class="btn btn-primary">Cotizar</button>
  </form>
</div>
